/* main css for home page*/

.fullnamearea {
  background-color: #1C1C1E;
  color: #FFFFFF;
  text-align: center;
  height: 220px;
  font-size: 24px;
  margin-bottom: 40px;
  background-clip: content-box;

}

.description {
  background-color: #F1F4F5;
  color: #1C1C1E;
  height: 220px;
  background-clip: content-box;
  margin-bottom: 40px;
}

.mainImage {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;

}

.abouttittle {
  font-size: 18px;
  text-align: center;
}

.aboutdescription {

  margin-left: 7px;
  margin-right: 7px;
}

.bottomSkills {

  background-color: #626262;
  color: #ffffff;
  border-radius: 25px;
  text-align: center;
  height: 40px;
  width: 100px;
  padding-top: 10px;
  margin-bottom: 15px;

}

.centerSkillbottom {
  margin-bottom: 40px;

}

.name-wraper {
  padding-top: 50px;
}
